* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

.atras{
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}

.container {
  margin: 3rem;
}

.titulo {
  margin-bottom: 2rem;
}

.agregar__equipo {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  text-decoration: none;
  padding: .5rem;
  margin-bottom: 2rem;
}

.agregar__equipo:hover {
  background-color: lightgray;
}

.agregar__label {
  font-size: 1rem;
  display: block;
  margin: .5rem 0 .5rem 0;
  font-size: .8rem;
  color: gray;
}

.agregar__jugadores {
  width: 70%;
  text-align: center;
  margin: 4.5rem auto 1rem auto;
  font-size: 1.3rem;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.agregar__submit {
  display: block;
  margin-top: 1rem;
}

.lista {
  font-size: 1rem;
}

.lista__item {
  list-style: none;
  margin: 1rem auto;
  display: flex;

}

.lista__escudo {
  width: 3rem;
}

.lista__nombre {
  margin-left: 2rem;
  align-self: center;
}

.lista__ver {
  margin-left: 2rem;
  align-self: center;
}

.lista__ver:link {
  text-decoration: none;
}

.lista__ver:visited {
  color: black;
}

.form__borrar {
  align-self: center;
}

.lista__eliminar {
  font-size: 1rem;
  margin-left: .5rem;
  align-self: center;
  border: none;
  background-color: white;
}

.lista__eliminar:hover {
  color: red;
  cursor: pointer;
}
      
.lista__links:hover {
  color: gray;
}

.equipo {
  font-size: 1rem;
  text-align: center;
}

.equipo__data {
  display: grid;
  margin: .5rem;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.equipo__escudo {
  width: 12rem;
  display: block;
  margin: 1rem auto 2rem auto;
}

.equipo__data--nombre {
  font-size: 2rem;
}

.equipo__info {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.equipo__mapa {
  align-self: center;
  border-radius: 5px;
}

.equipo__botones {
  text-align: center;
  margin-top: 1.5rem;
}

.equipo__boton {
  font-size: .8rem;
  border: 1px solid black;
  border-radius: 3px;
  text-decoration: none;
  padding: .5rem;
  background-color: white;
  color: black;
}

.equipo__boton:hover {
  background-color: lightgray;
}

.equipo__borrar {
  display: inline-block;
}

.equipo__data--jugadores {
  width: 60%;
  text-align: center;
  font-size: 1.5rem;
  margin: 2.5rem auto 1.5rem auto;
  padding: 1rem 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.equipo__jugador{
  text-align: center;
  margin: 1rem;
  list-style: none;
}

.equipo__jugadores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.equipo__jugadores--label {
  font-size: .8rem;
  color: gray;
}

.jugadores__editar {
  text-align: center;
  display: grid;
  margin-bottom: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.jugador__borrar {
  display: inline-block;
  margin-top: .5rem;
}

.editar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.editar__escudo {
  width: 12rem;
  display: block;
  margin: 1rem auto 2rem auto;
  align-self: center;
}

.editar__subir-escudo {
  align-self: center;
}

.editar__jugador {
  margin: 1rem;
}

.editar__campos {
  text-align: center;
}

.editar__campo {
  display: inline-block;
  margin-right: 1rem;
}