* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

.atras{
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}

.container {
  margin: 3rem;
}

.titulo {
  margin-bottom: 2rem;
}

.agregar__equipo {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  text-decoration: none;
  padding: .5rem;
  margin-bottom: 2rem;
}

.agregar__equipo:hover {
  background-color: lightgray;
}

.agregar__label {
  font-size: 1rem;
  display: block;
  margin-top: 1rem;
}

.agregar__jugadores {
  margin: 2.5rem 0 1rem 0;
  font-size: 1.3rem;
}

.agregar__submit {
  display: block;
  margin-top: 1rem;
}

.lista {
  font-size: 1rem;
}

.lista__item {
  list-style: none;
  margin: 1rem auto;
  display: flex;

}

.lista__escudo {
  width: 3rem;
}

.lista__nombre {
  margin-left: 2rem;
  align-self: center;
}

.lista__ver {
  margin-left: 2rem;
  align-self: center;
}

.lista__ver:link {
  text-decoration: none;
}

.lista__ver:visited {
  color: black;
}

.form__borrar {
  align-self: center;
}

.lista__eliminar {
  font-size: 1rem;
  margin-left: .5rem;
  align-self: center;
  border: none;
  background-color: white;
}

.lista__eliminar:hover {
  color: red;
  cursor: pointer;
}
      
.lista__links:hover {
  color: gray;
}

.equipo {
  font-size: 1rem;
  text-align: center;
}

.equipo__escudo {
  width: 12rem;
  display: block;
  margin: 1rem auto 2rem auto;
}

.equipo__data {
  margin: .5rem;
}

.equipo__data--nombre {
  font-size: 2rem;
}

.equipo__botones {
  text-align: center;
  margin-top: 1.5rem;
}

.equipo__boton {
  font-size: .8rem;
  border: 1px solid black;
  border-radius: 3px;
  text-decoration: none;
  padding: .5rem;
  background-color: white;
  color: black;
}

.equipo__boton:hover {
  background-color: lightgray;
}

.equipo__borrar {
  display: inline-block;
}

.equipo__data--jugadores {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.equipo__jugador{
  text-align: center;
  margin: 1rem;
  list-style: none;
}

.jugadores__editar {
  margin-bottom: 3rem;
}

.jugador__borrar {
  display: inline-block;
  margin-top: .5rem;
}